<template>
    <div class="feed-wrap" v-bind:class="{ active: editing }">
      <transition name="fade">
        <img v-show="editing" id="nerd" src="../assets/nerd.svg">
      </transition>
        <div id="inputbox"  v-bind:class="{ active: editing }">
          <input type="text"  v-bind:class="{ suggesting: matches.length > 0 }" v-model="address" id="input" :placeholder="placeholder" @keyup.enter="processInput(); $event.target.blur()" @focus="focus($event)">
          <ul v-show="matches.length > 0" id="suggestions">
            <li v-for="addr in matches" @click="address = addr; processInput()">{{ addr }}</li>
          </ul>
        </div>
        <transition name="fade">
          <div v-show="editing" id="dialog">
            <button v-show="editing && showButton"  class="submit active" @click="processInput()">Read</button>
            <div v-show="editing && !showButton" class="message">{{ message }}</div>
          </div>
        </transition>
    </div>
</template>

<script>
export default {
  name: 'address-bar',
  props: [ 'status' ],
  methods: {
    processInput () {
      this.message = 'Working'
      this.lastAddress = this.address
      const regexp = /[-a-zA-Z0-9@:%._+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_+.~#?&//=]*)/
      if (regexp.test(this.address)) {
        this.$emit('input', this.address)
      } else {
        this.message = 'Seems like it is not valid URL'
      }
    },
    focus (event) {
      event.target.select()
      this.message = 'I\'m listening...'
      this.$emit('editing')
      this.placeholder = ''
    }
  },
  computed: {
    matches () {
      return this.addressHistory.filter(address => {
        const regex = new RegExp(this.address, 'gi')
        return this.address.length >= 2 && address.match(regex) && this.address !== address
      })
    },
    showButton () {
      return this.address !== '' && this.address !== this.lastAddress
    },
    editing () {
      return this.status !== 'ok'
    }
  },
  data () {
    return {
      message: 'What would you like me to read?',
      addressHistory: [],
      lastAddress: '',
      address: '',
      placeholder: 'Enter the URL here'
    }
  },
  created () {
    this.$parent.$on('ok', () => {
      if (!this.addressHistory.includes(this.address)) {
        this.addressHistory.push(this.address)
      }
      this.editing = false
    })
    this.$parent.$on('error', () => { this.message = 'Could not find anything' })
    const lastUrl = this.$parent.getCookie('lastUrl')
    if (lastUrl) {
      this.address = lastUrl
      this.processInput()
    }
  }
}
</script>

<style lang="scss">
$input-width: 300px;
$background-color: #4b636f;
$foreground-color: #F7B239;

.feed-wrap {
  transition: height 1s ease 0s;
  height: 3rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $background-color;
  &.active {
    height: 100vh;
    transition: height 1s ease 0s;
  }
}

#nerd {
  max-height: 200px;
  transform: translateY(-75%);
  position: absolute;
}

#inputbox {
    position: relative;
    width: $input-width;
    transition: transform 1s ease 0s;
    z-index: 1;
    &.active {
      transform: scale(1.5);
    }
}

#input {
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0 0.5rem;
  color: #333;
  width: 100%;
  line-height: 1.5;
  font-weight: 700;
  font-size: medium;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  outline: none;
  &.suggesting {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:focus{
    outline: none;
  }
  &::placeholder {
    color: #777;
  }
}

#suggestions {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  line-height: 1.5;
  width: $input-width;
  li {
    width: auto;
    font-size: small;
    padding: 0.5rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      background-color: $foreground-color;
    }
  }
}

#dialog {
  display: flex;
  position: absolute;
  height: $input-width/2;
  justify-content: center;
  flex-direction: column;
  .message {
    font-size: 20px;
    font-weight: 700;
    line-height: 3rem;
    color: white;
    transform: translateY(5rem);
  }
}

button.submit {
  font-size: 20px;
  background-color: #7d9a7d;
  transition: opacity .2s ease-in 0s;
  opacity: 0;
  color: white;
  border: none;
  padding: 0 2rem;
  line-height: 3rem;
  font-weight: 700;
  border-radius: 5px;
  border: 3px solid #9bad9b;
  transform: translateY(5rem);
  &.active {
    opacity: 1;
    transition: opacity .2s ease-in 0s,
    background-color .3s linear 0s,
    border-color .3s linear 0s;
  }
  &:hover {
    background-color: #506550;
    border-color: #7d9a7d;
  }
}

.fade {
  &-enter-active, &-leave-active {
  transition: opacity .5s
  }
  &-enter, &-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
  }
}
</style>
