<template>
  <div class="container">
    <address-bar :status="status" @input="getFeed($event)" @editing="status = 'waiting'"></address-bar>
    <feed-list :feed="feed" @orderBy="orderBy($event)"></feed-list>
  </div>
</template>

<script>
import AddressBar from './AddressBar'
import FeedList from './FeedList'

export default {
  name: 'feed-reader',
  methods: {
    getCookie (name) {
      return document.cookie.split('; ').reduce((r, v) => {
        const parts = v.split('=')
        return parts[0] === name ? decodeURIComponent(parts[1]) : r
      }, '')
    },
    orderBy (arg) {
      if (arg === 'date') {
        if (this.orderedBy === 'date') {
          this.feed = this.feed.reverse()
        } else {
          this.feed.sort((a, b) => {
            return new Date(a.pubDate) - new Date(b.pubDate)
          })
        }
        this.orderedBy = 'date'
      }
      if (arg === 'title') {
        if (this.orderedBy === 'title') {
          this.feed = this.feed.reverse()
        } else {
          this.feed.sort((a, b) => {
            return (a.title < b.title) ? -1 : (a.title > b.title) ? 1 : 0
          })
        }
        this.orderedBy = 'title'
      }
    },
    getFeed (input) {
      this.status = 'loading'
      fetch(`https://api.rss2json.com/v1/api.json?rss_url=${input}&api_key=qiafflelisowx7ppmmw2py3efxcmkykkiazc5nbw`)
        .then((response) => { return response.json() })
        .then((data) => {
          if (data.items) {
            this.feed = data.items
            document.cookie = `lastUrl=${input}`
            this.status = 'ok'
            this.$emit('ok')
          } else {
            this.status = 'error'
            this.$emit('error')
          }
        }).catch(() => { console.log('Oops. Error') })
    }
  },
  data () {
    return {
      status: 'waiting',
      feed: {},
      orderedBy: ''
    }
  },
  components: { AddressBar, FeedList }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
input, button {
   font-family: 'Roboto', 'sans-serif' !important;
}
body {
    overflow:hidden;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transition: height 1s;
}
</style>
