<template>
<div class="feed">
    <table id="list">
        <thead>
            <tr>
                <th @click="$emit('orderBy', 'date')">Date</th>
                <th @click="$emit('orderBy', 'title')">Title</th>
            </tr>
        </thead>
        <tbody>
            <tr @click="open(article)" v-for="article in feed"><td>{{ article.pubDate }}</td><td>{{ article.title }}</td></tr>
        </tbody>
    </table>
    <modal v-show="showModal" :feed="currentFeed" @close="showModal = false"></modal>
</div>
</template>

<script>
import Modal from './Modal'

export default {
  name: 'address-bar',
  props: [ 'feed' ],
  methods: {
    open (article) {
      this.currentFeed = article
      this.showModal = true
    },
    byDate (a, b) {
      if (a.title < b.title) return -1
      if (a.title > b.title) return 1
      return 0
    }
  },
  data () {
    return {
      showModal: false,
      currentFeed: {}
    }
  },
  components: { Modal }
}
</script>

<style lang="scss">
.feed {
    flex: 1;
    max-height: 100vh;
    overflow: auto;
}
#list {
    line-height: 1.5;
    padding: 1rem 0;
    list-style: none;
    thead {
        background-color: #eee;
        cursor: pointer;
    }
    td {
        cursor: pointer;
        padding: 0 1rem;
    }
    tr {
        &:nth-child(even) {
            background-color: #eee;
        }
    }
}
</style>
