<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
              {{ feed.title }}
          </div>

          <div class="modal-body">
              {{ feed.description}}
          </div>

          <div class="modal-footer">
              <button class="modal-visit-button" @click="this.window.open(feed.link, '_blank');">Visit page</button>
              <button class="modal-default-button" @click="$emit('close')">
                Close
              </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'modal',
  props: [ 'feed' ],
  data () {
    return {
    }
  }
}
</script>

<style lang="scss">
.modal{
   &-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  } 
  &-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  &-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
  }
  &-header {
    font-weight: 700;
    h3 {
    margin-top: 0;
    font-weight: 700;
    color: #42b983;
    }
  }
  &-body {
    margin: 20px 0;
  }
  &-default-button {
    float: right;
  }
  &-enter {
    opacity: 0;
  }
  &-leave-active {
    opacity: 0;
  }
  &-enter &-container,
  &-leave-active &-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

button {
    background: grey;
    border: none;
    border-radius: 2px;
    font-weight: 700;
    color: white;
    line-height: 2.5;
    padding: 0 1.5rem;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #333;
    }
}
</style>
