<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style src="node_modules/normalize.css/normalize.css">
</style>
<style lang="scss">
  @import url("https://fonts.googleapis.com/css?family=Roboto");
  html {
    font-family: 'Roboto', sans-serif;
  }
</style>
